.bodyp {
    background-color: rgba(0, 0, 0, 80%);
    width: 88%;
    margin: auto;
    font-size: 1.8rem;
  }
  

.red-heading {
    color: red;
    font-size: 4rem;
    padding-top: 4%;
    border-bottom: none;
    text-align: center;
  }
  
  .blue-text {
    color: dodgerblue;
  }
  
  .blue-blockquote {
    border-left: 5px solid dodgerblue;
    color: white;
    background-color: rgba(0, 0, 0, 80%);
    padding: 2%;
  }
  .red-blockquote {
    border-left: 5px solid rgb(255, 30, 30);
    color: white;
    background-color: rgba(34, 4, 4, 0.8);
    padding: 4%;
  }
  
  .green-blockquote {
    border-left: 5px solid green;
    color: white;
    background-color: rgba(0, 0, 0, 80%);
    padding: 2%;
  }
  
  .orange-blockquote {
    border-left: 5px solid orange;
    color: orange;
    background-color: rgba(0, 0, 0, 80%);
    padding: 2%;
  }
  
  .warning-symbol {
    font-size: 20px;
  }
  
  .bold-underline {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .italic-text {
    font-style: italic;
  }
  

  .setup-rsk{
    max-width: 20%;

  }

  .video-yt{

    /****
    width="1268" height="713"
    ***/
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
  }

